@model ZimmetApp.Entities.Models.Musteri
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var baslik = "Müşteri Ekle";
    var butonText = "Kaydet";
    var butonColor = "btn-primary";

    if (Model != null)
    {
        baslik = "Müşteri Güncelle";
        butonText = "Güncelle";
        butonColor = "btn-success";
    }

}


<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="card mb-4 mt-4">
            <div class="card-header">
                <i class="fa-solid fa-circle-plus"></i> @baslik
            </div>
            <div class="card-body">
                <form method="post" action="/Musteri/Ekle">

                    @if (Model != null)
                    {
                        <input type="hidden" class="form-control" name="Id" value="@Model.Id">
                    }

                    <div class="mb-3">
                        <label class="form-label">Müşteri Kod</label>
                        <input type="text" class="form-control" name="MusteriKod" maxlength="10" value="@(Model != null ? Model.MusteriKod : "")">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Müşteri Adı</label>
                        <input type="text" class="form-control" name="MusteriAdi" value="@(Model != null ? Model.MusteriAdi : "")">
                    </div>


                    <button class="btn @butonColor" type="submit">
                        @butonText
                    </button>

                </form>
            </div>
        </div>
    </div>
</div>



